.container {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h1 {
    text-align: center;
    margin-top: 1rem;
}
.p {
    max-width: 80ch;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button {
    margin: auto;
    display: block;
    margin-bottom: 1rem;
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.pro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 0.4rem;
    grid-column-gap: 10rem;
}

@media (max-width: 768px) {
    .pro {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5rem;
    }
}
